@model MvcValidation.Models.PasswordModels
@{
    ViewBag.Title = "ValidatePassword";
}

<h2>ValidatePassword</h2>

@using (Html.BeginForm())
{
    
<div>@Html.LabelFor(m => m.Password)</div>
<div>@Html.PasswordFor(m => m.Password)</div>
<div>@Html.ValidationMessageFor(m => m.Password)</div>
<div>@Html.LabelFor(m => m.ConfirmPassword)</div>
<div>@Html.PasswordFor(m => m.ConfirmPassword)</div>
<div>@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
<input type="submit" value="confirm" />
    }
   <script type="text/javascript">
       jQuery.validator.addMethod("validatelength", function (element, value, param) {
           if ($("#Password").val().length <= 5 && $("#ConfirmPassword").val().length <= 5) {
               return false;
           }
           else {
               return true;
           }
       });
       jQuery.validator.addMethod("myrequired", function (element, value, param) {
           if ($("#Password").val() == '' && $("#ConfirmPassword").val() == "") {
               return false;
           }
           else {
               return true;
           }
       });
       jQuery.validator.unobtrusive.adapters.addBool("validatelength");
       jQuery.validator.unobtrusive.adapters.addBool("myrequired");

       var refreshValidation = function () {
           var formToRefresh = $('form');
           formToRefresh.each(function () {
               var form = $(this);
               form.removeData('validator');
               $.validator.unobtrusive.parse(form);
           });
       };

       refreshValidation();

   </script>
